/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require bootstrap
*= require bootstrap-theme
*/

.jumbotron {
    color: white !important;
    background: url('/gisela-rocks/assets/gisela.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    margin-bottom: 0px !important;
}

#map-canvas {
    height: 400px;
    margin: 0px;
    padding: 0px
}
